<section class="first-view center-vertical">
  <tr>
    <td colspan="7"><a href="/search">検索</a></td>
  </tr>
  <tr>
    <td colspan="7"><a href="/posts/new">新しい投稿</a></td>
  </tr>
</section>

<section class="center-vertical">
  <h1>最近の投稿</h1>
    <div class="row justify-content-center">
        <% @contents.each do |content| %>
          <div class="border col-5">
              <div>
                <p>タイトル：<%= content.title %></p>
                <p>コメント：<%= content.comment %></p>
                <p>どんな気分の時におすすめか：<%= content.feeling.try(:name) %></p>
                <p>所要時間：<%= content.timer.try(:name) %></p>
              </div>
          </div>
        <% end %>
    </div>
</section>

