<section>
    <h1><%= current_user.name %>のお気に入り登録した本</h1>
    <% if !@liked_posts.nil? %>
        <% @liked_posts.each do |post| %>
            <div>
                <p><%= post.title %></p>
                <p><%= post.comment %></p>
                <p><%= post.feeling_id %></p>
            </div>
        <% end %>
    <% else %>
        <p>いいねした投稿がありません</p>
    <% end %>
    
    <tr>
        <a href="/home">back</a>
    </tr>
</section>